# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE-specific files and directories
.idea/
.vscode/
*.iml

# Logs
*.log

# Maven specific files and directories
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.branch
release.properties

# Eclipse specific files and directories
bin/
.settings/
.classpath
.project

# Intellij specific files and directories
out/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Operating System files
.DS_Store
Thumbs.db
